<%- include('header') -%>


<form action="/index" method="post">
<input type="text" name='name' placeholder="name">
<input type="text" name="desc" placeholder="description">
 <input type="submit" value="create">
</form>

<%- include('footer') -%>
